# ThreadMonitor
/ThreadMonitor/.gradle/
/ThreadMonitor/.idea/
/ThreadMonitor/.svn/
/ThreadMonitor/java_pid5600.hprof   
/ThreadMonitor/java_pid8156.hprof 
/ThreadMonitor/*.hprof 
/ThreadMonitor/*.iml

#app
/ThreadMonitor/app/build/
/ThreadMonitor/app/*.iml

#thread
/ThreadMonitor/thread/build/
/ThreadMonitor/thread/*.iml

#threadhook
/ThreadMonitor/threadhook/build/
/ThreadMonitor/threadhook/*.iml
